button {
    border: none;
    background: none;
    cursor: pointer;
}

.project-button {
    float: right;
    right: 50px;
    top: 50px;
    position: absolute;
}

.project-button-label {
    float: right;
    right: 125px;
    top: 50px;
    position: absolute;
}
