<head>
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<div class="row center-align">
  <h1>LOGIN</h1>
  <div class="col s12">
    <div class="input-field col-s6">
      <input [(ngModel)]="username" type="text" placeholder="usuario" />
      <input [(ngModel)]="password" type="password" placeholder="senha" />
      <a (click)="peido()" class="waves-effect waves-light btn">Entrar</a>
    </div>
  </div>
</div>